.img-bg {
text-align: center;
}


    .footer2 {
        padding: 10px;
        height: auto;
        background-color: #25d6bd;
      }
      .footer2 p {
        text-align: center;
        font-size: 20px;
      }

.link {
text-align: center;



}

.fabric {
text-align: center;



}

.fact {
text-align: center;


}